body{
    margin: 0;
    padding: 0;
    background-color: black;
}
button {
    margin: 0 20px;
    padding: 10px 20px;
    background: aquamarine;
    color: blue;
    border-radius: 100%;
    text-transform: uppercase;
    font-weight: bolder;
    outline: none;
}
canvas{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
.btn{
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}